/*
 *   
 */

body {
	padding-top: 20px;
	padding-bottom: 40px;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6, strong { 
	font-family:  "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
}


.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

.nice_margins {
	margin: 60px 0;
}
.nice_margins p + h4 {
	margin-top: 28px;
}

.bottom-padding {
	padding-bottom: 8px;
}

.no_underline a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

.small_text {
	font-size: x-small;
}